.dataContainer{
    margin-top: 5vh;
}
table {

}
.container-sm {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.card {
    width: 700px;
    max-width: 100%;
}